<h1>{{title}}</h1>

<div class="responses"></div>


<textarea class="reply"></textarea>

<textarea name="{{unique}}" id="{{unique}}" rows="10" cols="80">
</textarea>

<button class="btn btn-success">Reply</button>
    